{{ define "main" }}
<!-- Note that the content for index.html will pull from content/_index.md -->
<section class="about">
<!--    {{.Content}} -->
<h1>👋 Hi, I'm Alexey.</h1>
    <div class="bio">
        <p>I'm a product manager and producer in video game space. Apart from work, I'm a long-time F1 fan, love walking with my dog, nostalgic for pre-social media internet.</p>

        <p>Right now, I bring indie PC games to market @ <a href="https://herocraft.com/">Herocraft</a>. Before, I was leading product development at a video games discovery startup, and video games media with several million monthly visitors.</p>

        <p>You can reach me at: hey [at] lyosha.net.</p>
    </div>
    
    <div class="trudi">
        <h2>Trudi is a dog and family member</h2>
        <p>Some <a href="/trudis-walks">photos</a> to make you smile.</p>

        <div class="image-grid">
                <a href="/img/index/07-trudi-looking-at-a-mouse-on-a-sidewalk-in-winter.webp" target="_blank">
                    <img src="/img/index/07-trudi-looking-at-a-mouse-on-a-sidewalk-in-winter.webp" alt="Trudi looking at a mouse on a sidewalk in winter.webp">
                </a>
                <a href="/img/index/00-trudi-looking-up-into-the-camera.webp" target="_blank">
                    <img src="/img/index/00-trudi-looking-up-into-the-camera.webp" alt="Trudi looking up into the camera">
                </a>
                <a href="/img/index/05-trudi-shakes-off-snow.webp" target="_blank">
                    <img src="/img/index/05-trudi-shakes-off-snow.webp" alt="Trudi shakes off snow on the bank of a river in winter">
                </a>
        </div>
        <p>🦊 Trudi likes snow, meeting new people, playing with pine cones, traveling in a car, sleeping in parents' bed, yogurts. Dislikes fireworks, doctors, swimming, when her parents play too much with other dogs, rain, vacuum cleaners.</p>
    </div>

    <div class="now">
        <h2>What I'm up to right now</h2>
        <p>I self-host super important family entertainment: Jellyfin and Wordle. Enjoyed watching <a href="https://en.wikipedia.org/wiki/Alien:_Earth">Alien: Earth</a> and <a href="https://en.wikipedia.org/wiki/Sinners_(2025_film)">Sinners</a>, playing <a href="https://www.animalwell.net/">Animal Well</a>. Occasionally run around with my phone identifying birds via songs they make. Solving Rubik’s Cube in approximately 4 minutes 🐌. </p>
    </div>

    <div class="tools">
        <h2>Tools I use</h2>
        <p>I've been a Mac user since the early 90s. Mac SE/30 was our first home computer, replaced by LC II and PowerMac 6100. Going into the university years, I switched to PC, mainly for games and software compatibility, returning to the Mac around 2010.</p>
        <p>Nowadays, I use a MacBook Air M1 (boring). Plus, a desktop PC, built in a <a href="/posts/2021-08-12-building-a-pc/">Streacom DA2</a> Mini-ITX (fun) case. Loved building it! It’s running the latest version of <a href="https://www.fedoraproject.org/">Fedora</a>.</p>
        <p>Software: Sublime Text, Obsidian, NetNewsWire, Instapaper, Bitwarden, Syncthing.</p>
    </div>

    <div class="links">
        <h2>Browse the pages</h2>
        <ul>
            <li><a href="/posts/">Notes</a>. An occasional short post, that graduated from a private Obsidian library to a public html page.</li>
            <li><a href="/games/">Games</a>. A log of video games that have left memories after playing.</li>
        </ul>
    </div>
</section>
{{ end }}