{{ define "main" }}
<section class="intro">
    <!-- Note that the content for index.html will pull from content/_index.md -->
    <div class="about">
        {{.Content}}
    </div>
    {{ $image := resources.Get "profile-image.jpg" }}
    <div class="profile-pic">
        <picture>
            {{ with $image.Fill "655x360 center webp" }}
            <source media="(max-width: 768px)" srcset="{{ .RelPermalink }}">
            {{ end }}
            {{ with $image.Resize "360x webp" }}
            <source media="(min-width: 769px)" srcset="{{ .RelPermalink }}">
            {{ end }}
            {{ with $image }}
            <img src="{{ .RelPermalink }}" alt="Profile image">
            {{ end }}
        </picture>      
    </div>
</section>
{{ end }}