<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  
  <title>{{ block "title" . }}{{if .IsHome}}{{ .Title }}{{else}}{{ .Title }} - {{ .Site.Title }}{{end}}{{ end }}</title>
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{ .Summary }}{{end}}" />

  <meta property="og:image" content="{{ .Site.BaseURL }}preview.jpg">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  {{ $image := resources.Get "favicon.png" }}
    {{ with $image }}
      <link rel="shortcut icon" href="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"/>
    {{ end }}

  <style>{{ readFile "static/css/styles.css" | safeCSS }}</style>

  {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>