<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
    	<div class="content">
            <header>
                {{if .IsHome}}
                {{ $image := resources.Get "profile-image.jpg" }}
                  <div class="photo">
                    <picture>
                        {{ with $image.Fill "200x200 center webp" }}
                        <source srcset="{{ .RelPermalink }}">
                        {{ end }}
                        {{ with $image }}
                        <img src="{{ .RelPermalink }}" alt="Alexey with his corgi sitting on a bench, Commodore 64 color palette" width=100 height=100>
                        {{ end }}
                    </picture>      
                  </div>
                {{else}}
                  {{ $image := resources.Get "profile-image.jpg" }}
                  <div class="photo">
                    <picture>
                        {{ with $image.Fill "200x200 center webp" }}
                        <source srcset="{{ .RelPermalink }}">
                        {{ end }}
                        {{ with $image }}
                        <img src="{{ .RelPermalink }}" alt="Alexey with his corgi sitting on a bench, Commodore 64 color palette" width=100 height=100>
                        {{ end }}
                    </picture>      
                  </div>
                  <nav>
                    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                  </nav>
                {{end}}
            </header>
	        {{- block "main" . }}{{- end }}
	        {{- partial "footer.html" . -}}
    	</div>
    </body>
</html>
