{{ define "main"}}

<h1>{{ .Title }}</h1>

<table>
  <caption>
    <strong>Wishlist</strong>
  </caption>
  <thead>
    <tr>
      <th scope="col">Released</th>
      <th scope="col">Game</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Site.Data.games.wishlist }}
    <tr>
      <td>{{ .released }}</td>
      <td>{{ .title }}</td>
      <td><a href="{{ .url }}">Open</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>

<table>
  <caption>
    <strong>Memorabilia</strong>
    <span>★ - favourite</span>
  </caption>
  <thead>
    <tr>
      <th scope="col">Released</th>
      <th scope="col">Game</th>
      <th scope="col">Completed</th>
      <th scope="col">Platform</th>
    </tr>
  </thead>
  <tbody>
    {{ range sort .Site.Data.games.memorabilia "released" "desc" }}
    <tr>
      <td>{{ .released }} {{ .favourite }}</td>
      <td>{{ .title }}</td>
      <td>{{ .completed }}</td>
      <td>{{ .platform }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>


{{ end }}