{{ define "main" }}
	<h1>{{ .Title }}</h1>
	<article class="photo-grid">
		<p>Trudi likes snow, meeting new people, playing with pine cones, traveling in a car, sleeping in parents' bed, yogurts.
Dislikes fireworks, doctors, swimming, when her parents play too much with other dogs, rain, vacuum cleaners.</p>
				{{ range first 3 (sort (.Resources.ByType "image") "Name" "asc") }}
					{{ $imageHi := .Resize "1280x webp" }}
          			{{ $imageSml := .Resize "640x webp" }}
                        <img 
                        	srcset="{{ $imageHi.RelPermalink }} 1280w, {{ $imageSml.RelPermalink }} 640w"
                        	sizes="(max-width: 320px) 640px, 1280px"
							src="{{ $imageHi.RelPermalink }}"
                       		alt="{{ .Name }}"
                       		width="{{ $imageSml.Width }}"
                       		height="{{ $imageSml.Height }}"
                       	/>
                {{ end }}

				{{ range after 3 (sort (.Resources.ByType "image") "Name" "asc") }}
					{{ $imageHi := .Resize "1280x webp" }}
          			{{ $imageSml := .Resize "640x webp" }}
                        <img 
                        	srcset="{{ $imageHi.RelPermalink }} 1280w, {{ $imageSml.RelPermalink }} 640w"
                        	sizes="(max-width: 320px) 640px, 1280px"
							src="{{ $imageHi.RelPermalink }}"
                       		loading="lazy" alt="{{ .Name }}"
                       		width="{{ $imageSml.Width }}"
                       		height="{{ $imageSml.Height }}" 
                       	/>
                {{ end }}
	</article>
{{ end }}